<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Blog</title>
</head>

<body>
  <section>
    <nav class="navbar navbar-expand-lg navbar-success" style="background-color:rgb(3, 83, 3);">
      <a class="navbar-brand" href="#"><img src="\static\img\Mosam14.jpg"
              style="width:120px; padding-left: 50px;  border-radius: 50px;" class="logo"></a>
      <a style="color:white; font-weight: bolder;">
          <p>MKAR OLD STUDENT'S ASSOCIATION <BR><span style="font-size: large;">(MOSA SET'014)</span></BR></p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span><a><img style="max-width:25px; justify-content: center;" src="/static/img/menu.png"></a></button>
      <div class="collapse navbar-collapse" id="navbarNav" style="padding-left:100px; justify-content: flex-end">
          <ul class="navbar-nav" style="padding-left:20px 30px;font-weight: bolder;">
              <li class="nav-item active">
                  <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/event">Gallery</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/dues">Dues/Donations</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/register">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/blogs">Blogs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/contact" active>Contact Us</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link text-white" style="color:white; padding-left: 20px 20px; font-weight:400px"
                      href="/members">Members</a>
              </li>
      </div>
  </nav>
</section>
    <a class="row justify-content-center align-items-center" href="#"><img src="\static\img\Mosam14.jpg"
        class="logo"></a>
    <div class="card-body align-items-center" style="max-width: 540px;margin-left:30px">
      <h5 class="card-title" style="color:rgb(243, 208, 9); font-weight:bolder;">BUT BE YE TRANSFORMED BY THE
        RENEWING OF YOUR MIND</h5>
      </div>
    </section>
    <section>
      <div class="card mb-3" style="max-width: 540px;margin-left:65px">
        <div class="row g-0">
          <div class="col-md-4">
            <img style="border-radius:65px; max-width:200px" src="/static/img/Emma.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <span></span>     <br>
        
            The mind is often understood as a faculty that manifests itself in mental phenomena like sensation,
            perception, thinking, reasoning, memory,belief, desire, emotion, and Motivation.
            Minds are defined as independent thinking substances.<br>
            In popular usage, mind is frequently synonymous with thought: the private conversation with ourselves
            that we carry on “inside our head”.
            Thus, we “make up our minds”, or “change our minds”.<br><br>
            One of the key attributes of the mind in this sense is that, it is a private sphere to which no one but
            the owner has access.
            No one else can “know our mind”.
            They can only interpret what we consciously or unconsciously communicate.
            Prov. 23:7 says, "For as a Man thinketh in his heart, so is he”.
            What a man consciously thinks in his heart he gradually becomes, what a man gives his attention to he
            gradually becomes.<br>
            Beloved, whatever you give your attention to, you gradually become it.
            If you think little of yourself, you will gradually become little.<br>
            There is a saying that" you can't stop a bird from flying over your head, but you can definitely stop
            it from perching over your head.
            Thoughts can easily be formed especially when the mind is idle and not engaged, and the devil wouldn't
            hesitate to sponsor any negative thoughts when the mind is idle
            Scriptures says, "But be ye Transformed by the Renewing of the mind”
            Transformed is a Greek word called “metarmorphoo” which means change, while Renewing means to Renovate,
            Revamp or Replenish.<br>
            What that means in a simple term is that, you change your thoughts by replacing good thoughts over the evil
            ones.<br>
            Don't let the devil cage you in your thoughts that you're small or cannot make it in life
            The devil has caged many through thoughts in their lustfulness for modern things, many spirit filled
            brothers' & Sisters' can no longer pray effectively because they have been caged in their thoughts over the
            cares of this life.<br>
            Most spirit filled brethren have been hooked up in the online space with one thing or the other, others
            visit porn sites secretly with their phones and quickly deletes history.
            But beloved, if you must think right, you must renew your thoughts with knowledge. (Col. 3:10)<br>
            Seek knowledge, read good books, listen to good songs, messages and pray in the Holy Ghost to keep your
            mind renewed.<br>
            Your mind is your greatest asset for greater possibilities in God.
            God has invested so much possibilities inside of you that you cannot imagine.<br>
        
            Finally, beloved, whatsoever things are true, whatsoever things are honest, whatsoever things are just,
            whatsoever things are pure, whatsoever things are lovely, whatsoever things are of good report; if
            there be any virtue, and if there be any praise, <span style="font-weight:800;">THINK</span> on these.(Phil.4:8, italics added)
            Remember, only give yourself to positive thoughts and change any evil thought that doesn't edify
            your soul.
            Until I come your way again, do have a great week ahead!
            Greater exploit I pray<br><br>
            <h5 class="card-title">Emmanuel Adikwu</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <section class="" style="background-color:green; color:white; margin-top:10px;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-10">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>About Mosa
            </h6>
            <p>
                Mosa is an acronym which stands for Mkar Old Student Association,<br>
                It is a body that comprised of all former students who attended NKST COLLEGE MKAR, GBOKO, BENUE STATE<br> who desiring to come together in unity have wilfully established this distinguished Association <br>to cater for the needs of her Members as well as the interests of<br> our great Alma mater.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Social Media Links
            </h6>
            <p>
              <a href="https://www.facebook.com/profile.php?id=100086390207060" class="text-reset">Facebook Page</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Twitter</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-reset">What'sapp</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/register" class="text-reset">Register</a>
            </p>
            <p>
              <a href="/contact" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a href="/dues" class="text-reset">Dues/Donation</a>
            </p>
            <p>
              <a href="/members" class="text-reset">Members list</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              Mosaclass2014@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +234 8103407323</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +234 9137118577</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: green; color:white">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="#!"> Mkar Old Student Association Set 2014.</a>
    </div>
    <p class="pt-4" style="font-size:13pt;background-color:green; color: white;">Designed by <a href="#" style="text-decoration:none; color: white;" target="_blank">Great-Mind Technologies</a></p>
    <!-- Copyright -->
  </footer>
  </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>