<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Event</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-success" style="background-color:rgb(3, 83, 3);">
    <a class="navbar-brand" href="#"><img src="\static\img\Mosam14.jpg"
        style="width:120px; padding-left: 50px;  border-radius: 50px;" class="logo"></a>
    <a style="color:white; font-weight: bolder;">
      <p>MKAR OLD STUDENT'S ASSOCIATION <BR><span style="font-size: large;">(MOSA SET'014)</span></BR></p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span><a><img style="max-width:25px; justify-content: center;"
          src="/static/img/menu.png"></a></button>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left:100px; justify-content: flex-end">
      <ul class="navbar-nav" style="padding-left:20px 30px;font-weight: bolder;">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/event">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/dues">Dues/Donations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact" active>Contact Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" style="color:white; padding-left: 20px 20px; font-weight:400px"
            href="/members">Members</a>
        </li>
    </div>
  </nav>
  </section>
  <section>
    <a class="row justify-content-center align-items-center" href="#"><img src="\static\img\Mosa14.jpg"
        class="logo"></a>
  </section>
  <section>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>Mosa Image Gallery</h1>
      </div>
    </div>
  </section>
  <div class="container justify-content-center">
    <div class="row justify-content-center" style="width:700px; margin-left:100px;">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Mike.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Teryima Michael-<br> President</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded"
          src="/static/img/Haaga Philemon.jpg" alt="...">
        <p style="color:black; font-weight:bold"> Haaga Terkuma-<br> Vice President</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Adikwu.png"
          alt="...">
        <p style="color:black; font-weight:bold">Adikwu Emmanuel-<br> General Secretary</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/shimadoo.jpg"
          alt="...">
        <p style="color:black; font-weight:bold ">Shimadoo Terfa-<br> Treasurer</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Bridget.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Imbyashima Bridget-<br>Asst. General Secretary</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Torinyon.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Tor-nyon Sewuese-<br> Financial Secretary</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center" style="width:700px; margin-left:100px;">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/yandev.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Yandev Aondofa-<br> Provost</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/kennedy2.jpg"
          alt="...">
        <p style="color:black; font-weight:bold"> Ngusha-kon Kennedy-<br> Organizing Secretary</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Ngumimi.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Tyungu Ngumimi -<br> Welfare Secretary</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Agure.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Agure Charity<br>Publicity Secretary 1</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Gande.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Terdoo Gande<br>Publicity Secretary 2</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Queen.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Akpesue Queen-<br>Publicity Secretary 3</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center ml-45" style="width:700px; margin-left:100px;">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <img style="max-width:250px; height:300px; margin-right:20px;" class="img-fluid mb-4 shadow rounded"
          src="/static/img/Abel Nyam.jpg" alt="...">
        <p style="color:black; font-weight:bold">Nyam Abel-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:220px; height:300px; margin-left:35px;" class="img-fluid mb-4 shadow rounded"
          src="/static/img/Ayash.jpg" alt="...">
        <p style="color:black; font-weight:bold"> Ayashagba Dorcas-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px; margin-left:35px;" class="img-fluid mb-4 shadow rounded"
          src="/static/img/Ayim.jpg" alt="...">
        <p style="color:black; font-weight:bold">Ayim Judith-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Denen.jpg"
          alt="...">
        <p style="color:black; font-weight:bold ">Terhile Denen-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Iveren.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Iveren-<br>Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Janet.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Janet Kaa <br> Member</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="width:700px; margin-left:100px;">
      <div class="col-sm-12 col-md-6 col-lg-4 m-20">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Mvendaga.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Kuraiyor Mvendaga-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Raymond.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Ahar Raymond-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Tovia.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Godo Tovia-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded"
          src="/static/img/Varvar Ngukuson.jpg" alt="...">
        <p style="color:black; font-weight:bold ">Var Var Ngukuson-<br> Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Uma.jpg"
          alt="...">
        <p style="color:black; font-weight:bold">Uma Ngusha-<br>Member</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img style="max-width:250px; height:300px;" class="img-fluid mb-4 shadow rounded" src="/static/img/Winifred.jpg"
          alt="...">
        <p style="color:black; font-weight:bold"> Aersagh Winifred-<br> Member</p>
      </div>
    </div>
  </div>
  </section>
  <section>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
      <section class="" style="background-color:green; color:white; margin-top:10px;">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-10">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>About Mosa
              </h6>
              <p>
                Mosa is an acronym which stands for Mkar Old Student Association,<br>
                It is a body that comprised of all former students who attended NKST COLLEGE MKAR, GBOKO, BENUE
                STATE<br> who desiring to come together in unity have wilfully established this distinguished
                Association <br>to cater for the needs of her Members as well as the interests of<br> our great Alma
                mater.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Social Media Links
              </h6>
              <p>
                <a href="https://www.facebook.com/profile.php?id=100086390207060" class="text-reset">Facebook Page</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Twitter</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Instagram</a>
              </p>
              <p>
                <a href="#!" class="text-reset">What'sapp</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="/register" class="text-reset">Register</a>
              </p>
              <p>
                <a href="/contact" class="text-reset">Contact Us</a>
              </p>
              <p>
                <a href="/dues" class="text-reset">Dues/Donation</a>
              </p>
              <p>
                <a href="/members" class="text-reset">Members list</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                Mosaclass2014@gmail.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> +234 8103407323</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> +234 9137118577</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: green; color:white">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#!"> Mkar Old Student Association Set 2014.</a>
      </div>
      <p class="pt-4" style="font-size:13pt;background-color:green; color: white;">Designed by <a href="#"
          style="text-decoration:none; color: white;" target="_blank">Great-Mind Technologies</a></p>
      <!-- Copyright -->
    </footer>
  </section>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>