<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Home</title>
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-success" style="background-color:rgb(3, 83, 3);">
            <a class="navbar-brand" href="#"><img src="\static\img\Mosam14.jpg"
                    style="width:120px; padding-left: 50px;  border-radius: 50px;" class="logo"></a>
            <a style="color:white; font-weight: bolder;">
                <p>MKAR OLD STUDENT'S ASSOCIATION <BR><span style="font-size: large;">(MOSA SET'014)</span></BR></p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span><a><img style="max-width:25px; justify-content: center;" src="/static/img/menu.png"></a></button>
            <div class="collapse navbar-collapse" id="navbarNav" style="padding-left:100px; justify-content: flex-end">
                <ul class="navbar-nav" style="padding-left:20px 30px;font-weight: bolder;">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/event">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/dues">Dues/Donations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/contact" active>Contact Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" style="color:white; padding-left: 20px 20px; font-weight:400px"
                            href="/members">Members</a>
                    </li>
            </div>
        </nav>
    </section>
    <section>
        <div class="alert alert-success mb-0" role="alert">
            Welcome to Mosa Class 2014 official Website!
        </div>
    </section>
    <section style="background-color: #4CAF50; padding: 20px; color: #ffffff;">
        <div class="container mt-0 p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid rounded" src="/static/img/slide 8.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid rounded" src="/static/img/slide 6.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid rounded" src="/static/img/slide 8.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <section">
        <div class="text-center" style="margin-top:40px;">
            <h4> About Us</h4>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="card mb-3">
                  <div class="col-sm-8 col-md-4">
                    <img style="border-radius:65px; max-width:200px" src="/static/img/Mike.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Welcome Speech from the president </h5>
                        <p class="card-text">I warmly welcome you all to our MOSA SET'014 Official website, a platform
                            designed to take
                            our Association digital. I wish to plead that you take out time to complete the necessary
                            registration and become a full member of the Assocition.
                            We encourage that you always check this site for all our events and programs as this will be
                            the official site where all our informations will be uploaded<br>
                            Our undiluted sense of unity and devoted care for each other will only continue driving us
                            forward
                            and we will continue seeing the light.
                            When the roll calls on yonder, be in the number.<br>Long Live Greatest Mosa <br> Long live
                            Federal Republic of Nigeria
                        <p class="card-text"><small class="text-muted">President</small></p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section style="background-color: #4CAF50; color: #ffffff; padding: 20px;">
            <div class="text-center" style="margin-top:70px;">
                <h4>Our Executive Members</h4>
            </div>
            <div>
                <div class="card-group" style="margin-top:10px; justify-content: center; border-radius:65px;">
                    <div class="card rounded" style="max-width:250px; margin:20px;">
                        <img src="/static/img/Mike.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Teryima Michael-<br>President</h6>
                        </div>
                    </div>
                    <div class="card rounded" style="max-width:250px; margin:25px 50px; border-radius:65px;">
                        <img src="/static/img/Haaga Philemon.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Haaga Terkuma-<br>Vice President</h6>
                        </div>
                    </div>
                    <div class="card rounded" style="max-width: 250px; margin: 25px 50px;border-radius:65px;">
                        <img src="/static/img/Emma.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Adikwu Emmanuel-<br>General Secretary</h6>
                        </div>
                    </div>
                </div>
                <div class="m-0 p-10 text-center">
                    <a class="btn btn-success" href="/event" role="button">See More Pictures &rarr;</a>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                       <div class="card-body">
                            <div class="justify-content-start p-20">
                                <h5 class="card-title" style="color:rgb(243, 208, 9); font-weight:bolder;margin:10px">
                                    COLLEGE ANTHEM</h5>
                                <p class="card-text" style="color: black; font-weight:bolder">
                                    Mkar, Mkar, we sing of thee<br>
                                    Our premier institution,<br>
                                    Where in our work and play we grow<br>
                                    In wisdom and in Knowledge,<br>
                                    Mkar, Mkar, we sing of thee,<br>
                                    On may we faithful be.<br><br>

                                    To serve our God and fellow men <br>
                                    Must be our aim, far-reaching;<br>
                                    For future days of teaching.<br>
                                    Mkar, Mkar we sing of thee, <br>
                                    O may we faithful be.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center align-items-center">NEXT MEETING</h5>
                            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                            <a href="https://logwork.com/countdown-waju" class="countdown-timer"
                                data-timezone="Africa/Lagos" data-date="2024-03-31 10:00">Count down to Next Meeting
                                Day</a>
                            <div class="text-center" style="font-size:20px; font-weight:bold">
                                <p>DATE AND DAY OF MOSA MEETINGS</p>
                                <p>NEXT BRANCH MEETING <br> 31ST MARCH, 2024,<br> VENUE: LADIVAH HOTEL,GRA, GBOKO</p>
                                <p>UP COMING EVENTS</p>
                                <p>MOSA CLASS 2014 MEETING</p>
                                <p>MOSA 2024 ANNIVERSERY</p> 
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color: rgb(9, 90, 9);">VISION</h5>
                        <p class="card-text">NKST College, Mkar envisions a society founded on sound Moral, religious
                            and Ethical upbringing.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color: rgb(9, 90, 9);">MISSION</h5>
                        <p class="card-text">To inculcate in our children right moral and spiritual values based <BR>on
                            sound Children Teaching (Education) with a view to making the individual <BR>well equipped
                            with knowledge to function maximally in the society.</p>
                    </div>
                </div>
        </section>
  <section>
    <!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <section class="" style="background-color:green; color:white; margin-top:10px;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-10">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>About Mosa
            </h6>
            <p>
                Mosa is an acronym which stands for Mkar Old Student Association,<br>
                It is a body that comprised of all former students who attended NKST COLLEGE MKAR, GBOKO, BENUE STATE<br> who desiring to come together in unity have wilfully established this distinguished Association <br>to cater for the needs of her Members as well as the interests of<br> our great Alma mater.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Social Media Links
            </h6>
            <p>
              <a href="https://www.facebook.com/profile.php?id=100086390207060" class="text-reset">Facebook Page</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Twitter</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-reset">What'sapp</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/register" class="text-reset">Register</a>
            </p>
            <p>
              <a href="/contact" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a href="/dues" class="text-reset">Dues/Donation</a>
            </p>
            <p>
              <a href="/members" class="text-reset">Members list</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              Mosaclass2014@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +234 8103407323</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +234 9137118577</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: green; color:white">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="#!"> Mkar Old Student Association Set 2014.</a>
    </div>
    <p class="pt-4" style="font-size:13pt;background-color:green; color: white;">Designed by <a href="#" style="text-decoration:none; color: white;" target="_blank">Great-Mind Technologies</a></p>
    <!-- Copyright -->
  </footer>
  </section>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</body>

</html>